<!-- Aula 99 Acessar Elemento HMTL com ViewChild
 
Meu input: <input type="text" #meuInput/>

<button (click)="updateInputText()">Atualizar</button>

<button (click)="foco()">Foco</button>

<div #divInicial>
    Conteúdo Inicial.
</div>

<button (click)="updateDivContentn()">Mudar</button> -->


<!-- Video 100 - Acessar componente filhos por ViewChild

<app-filho #filhoComp></app-filho>
<button (click)="hello()">Botão de Alerta</button> -->
<!-- 
Aula 101 - Configuração "static" do "@ViewChild”

Meu input: <input type="text" #meuInput/> -->